<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1098781363553-euvcqu2f0eunajgbp0nnb6elsimu3i1s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1098781363553-euvcqu2f0eunajgbp0nnb6elsimu3i1s</string>
	<key>API_KEY</key>
	<string>AIzaSyAehYJ4QJtrM0w5BXt1Be4N_W7k3w2aem8</string>
	<key>GCM_SENDER_ID</key>
	<string>1098781363553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Chartrunks.Gotaku</string>
	<key>PROJECT_ID</key>
	<string>gotaku-1acaf</string>
	<key>STORAGE_BUCKET</key>
	<string>gotaku-1acaf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1098781363553:ios:1c7e593ecef2b572</string>
	<key>DATABASE_URL</key>
	<string>https://gotaku-1acaf.firebaseio.com</string>
</dict>
</plist>